@charset "utf-8";
/* CSS Document */


body{-webkit-text-size-adjust:none;background:#fff;color:#000;font-family:'Noto Sans',SimHei, sans-serif;font-size:12px;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd{border:0 none;margin:0;padding:0}
a{ color:#000;}
.wrapper{ margin:0 auto; width:800px; border:solid #D4D0C7 1px;}
.hide{display:none;}
.clear{clear:both;}

.wrapperlogin{ margin:0 auto; width:720px;}
.topFrame{ height:92px;}
.middleFrame{ margin-top:-1px;}
.leftFrame{ width:175px; height:100%; float:left;}
.mainFrame{ float:left; width:775px; height:600px; margin-left:10px;}
.menu_right{font-size: 90px;line-height: 480px;margin: 0 auto;text-align: center;width: 99%;}

/* top */
.top{ position:relative; height:200px;}
.logo{ position:absolute; font-size:16px; color:#FFFFFF; margin-left:10px; margin-top:1px;}
.logo1{ position:absolute;}
.logo1 img{ width:100px;}
.topMap{ float:right; height:185px;}
.topMap a{display: block;font-size:12px;text-align:center; cursor:pointer;margin:80px 20px 0 0;}
.topMap a:hover{color:#099ce0;}
/* top end */

/* left */
.title{ margin:0 0 0 15px;}
.title a{font-size:12px;line-height: 24px;}
.title a:hover{color:#099ce0;}
.title .mainRed{color:#099ce0;}
.second{color:#808080;}
.sub_title{/*display:none;*/}
/* left end */

/* main */
.content{margin:0 20px 0 0;padding:0 0 45px 0;}
/*deteail*/
#submit{border:0;background:#099ce0;color:#fff;width:95px;height:25px;right:25px;position: absolute;cursor: pointer;}

.status{ background:#e1e1e1; height:35px;overflow:hidden;padding:0 0 0 6px;margin: 0 20px 0 0;}
.status p{line-height:29px;height:29px;width:75px;margin:6px 0 0 0;float:left;text-align:center;cursor: pointer;}
.status .active{color:#099ce0;border-radius:4px 4px 0 0 ;background:#fff;}
.status p:hover{color:#099ce0;}
.r_top{margin:0 0 10px 0 ;}

.leftA{margin:0 0 20px 0;}
.leftAlist{padding:0 0 10px;}
.r_detail{background:#ebebeb;padding:15px;margin: 0 0 20px;}
.PPrice{position:relative;}
.PDelv{position:relative;}
.leftAlist img{max-width:250px;}
.r_detail .r_img{float:left;}
.r_detail .r_show{float:right;}
.r_detail .r_row{overflow:hidden;margin:0 0 10px 0;}
.r_detail .r_row_down{margin:20px 0 10px 0;}
.r_detail .r_row input{float:left;}
.r_detail .r_row a{float:right;}
.r_detail .r_row .Delv{float:none;right:20px;bottom:20px;position:absolute;}
.r_detail .r_row .Delf{float:none;right:20px;bottom:20px;position:absolute;}
.r_detail .r_row .r_row_img{margin:0 0 0 210px;}
.r_detail .r_title{width:120px;margin:0 10px 0 0;float:left;line-height:22px;}
.r_detail .r_smallTitle{width:90px;margin:0 10px 0 0;float:left;line-height:22px;}
.r_detail .r_longTitle{width:180px;margin:0 10px 0 0;float:left;line-height:22px;}
.r_detail .r_longTTitle{width:130px;float:left;line-height:22px;}
.r_detail .r_doubleTitle{width:15%;float:left;line-height:22px;}
.r_detail .r_subTitle{width:90px;margin:0 10px 0 0;text-align:right;float:right;line-height:22px;}
.r_detail .r_text{height:24px;width:77px;margin:0 10px 0 0;}
.leftAlist p{line-height:30px;}
.leftAlist .text{width:401px;height:29px;}
.leftAlist .year{width:209px;}
.leftAlist .month{width:90px;}
.leftAlist .day{width:90px;}
.leftAlist .foodText{width:85%;height:29px;}
.leftAlist .smallText{margin:0 30px 0 20px;width:160px;height:29px;}
.leftAlist textarea{width:100%;height:136px;}
.leftAlist .foodTextarea{width:85%;height:136px;margin: 0 0 30px;}
.leftAlist .r_show{float:right;}
.leftAlist .r_subTitle{width:90px;margin:0 10px 0 0;text-align:right;float:right;line-height:22px;}

.p_info_table span{font-size:12px;width:200px;float:left;line-height:22px;height:22px;}
.p_info_table .text{height:22px;border:solid 1px #c2c2c2;width:200px;margin:0 0 0 10px;}
.p_info_table .text1{height:22px;width:200px;margin:0 0 0 10px;}
.p_info_table tr{ height:30px;}
.p_info_table td{vertical-align:top;}
.file_rp{margin:0 0 0 200px;}
.file_rp div{margin:0 0 10px 0;}
.add3{}
.userDetail{line-height: 24px;margin-top: 14px;}
.tuneManifest{float:right;}
.systemName{width:150px;float:left;}
.systemInput{width:500px;float:left;}
.systemSCkeditor{margin:0 0 0 150px;}
.emailDetail{}
.submit{border:0;background:#000;color:#fff;width:95px;height:25px;right:25px;cursor: pointer;}
.emailListId{margin:0 0 0 300px;}
/*order detail*/
.ContBlock_b{background:#fff;height:auto;overflow: hidden;font-size:14px;}
.ContBlock_b .sTitle{height:26px;line-height:26px;border-bottom:1px solid #e1e1e1;}
.ContBlock_b .sTitle span{font-weight:bold;}
.goodsType{position:absolute;margin: -40px 0 0 25%;}
.goodsTypeOrder{position:absolute;margin: -40px 0 0 17%;}
#inventoryList{}
#inventoryList .title{margin:20px 0 0 0 ;}
.bottomButton{margin:20px 0 0 0 ;width:100%;height:auto;}
.bottomButton a{float:right;text-decoration: none;padding:5px 15px;height: 18px;line-height: 20px;}
.whiteB{margin:0 0 0 30px;background:#099ce0;color:#fff;}
.printB{background:#ebebeb;color:#807e7e;}
#pList{width:100%;font-size:14px;background:#ebebeb;padding:20px;margin:20px 0 0 0;}
#pList tr{height:auto;}
#pList .th td{height:30px;text-align:center;background:#f6f6f6;line-height:30px;}
#pList .td td{padding:15px 20px;text-align:center;border-bottom:1px solid #f6f6f6;}
#pList .td .tdQty{padding:15px 5px;}
#pList .tdL td{border-bottom:0;padding:15px 0px;}
#pList .tdL .tdLeft{text-align:left;padding:0 20px;}
#pList .tdL span{font-size:14px;}
#pList .th .tdName{text-align:left;padding:0 20px;}
#pList .td .tdName{text-align:left;padding: 15px 0 15px 20px;line-height:20px;}
#pList .td .tdName span{font-weight: bold;}
#pList .td .tdName .btl{color:#808080;font-weight: normal;}
#pList .td .img{width:78px;}
#pList .td .img img{width:78px;}
#pList .td .tdOrder{text-align:left;background:#f2f2f2;height:33px;line-height:33px;padding:0 20px;color:#333;}
#pList .td .tdOrder b{font-size:14px;}
#pList .td .tdOperating{border-left:1px solid #eaeaeb;}

.addressConfirm{line-height:26px;font-size:14px;background:#ebebeb;padding:20px;width:100%;margin:20px 0 0 0;}
.addressConfirm tr{height:auto;}
.addressConfirm .title{font-size:14px;color:#383838;}
.addressConfirm .subTitle{text-align:left;margin:0 0 0 20px;float:auto;width:200px;}
/*order detail end*/
/*deteail end*/

/*list*/
.menu{margin: 0 20px 0 0;}
.menu .updateButton{float: right;font-size: 12px;line-height: 24px;}
.menu .updateButton:hover{color:#099ce0;}
.mytable{ width:100%; }
tr{ height:50px;}
.th{padding:15px;}
.th a{text-decoration:none;}
.td1{padding:0 0 0 15px;border-bottom:1px solid #e1e1e1;}
.td1 a{line-height:20px;}
.showShow{background:url(../img/show.jpg) no-repeat;height:20px;width:20px;cursor:pointer;}
.show_top{background:url(../img/show.jpg) no-repeat;height:20px;width:20px;cursor:pointer;margin: 0 0 0 16px;}
.showShow1{background:url(../img/show.jpg) no-repeat 0px -20px;}
/*list end*/
/*page*/
.page{height:20px;padding:30px 0 0 0;}
.page_left{float:left;}
#button{border:solid 1px #c2c2c2;background:#ebebeb;color:#099ce0;font-size:12px;line-height:16px;}
.page_right{float:right;}
.page_right a{padding:0 0 0 10px;text-decoration:none;color:#999999;font-size:14px;}
.page_right .active{text-decoration:underline;}
/*page end*/

/* main end */

/*login*/
.login{overflow:hidden;margin-top: 100px; background-color:#fff;}
.logincon{top:50px; overflow: hidden;}
.logo2{width:280px;float:left;}
.logo2 img{width:200px;float:left;margin: 35px 0 0 35px;}
.logininput{height:370px;overflow:hidden;width:430px;padding: 75px 0 0 5px;float:left;}
.logininput .p8{font-size:30px;color:#656565;}
.logininput .first{margin-top:50px;}
.loginlist{overflow:hidden;margin-bottom:10px;font-size:11px;width: 340px;}
.loginlist #text1{ float:left; width:322px; height:32px; background-color:#FFFFFF; border:solid 1px #ccc;padding:0 8px;}
.loginlist #select1{float:left;height:18px;width:18px;margin:0;padding:0;}
.loginlist .selectTest{float:left;height:18px;line-height:22px;}
.loginlist .forgotPassword{float:right;height:18px;line-height:22px;color:#666;}
.loginlist #button{ width:95px; height:28px; border:1px solid #c2c2c2; float:right; color:#099ce0;background:#e1e1e1;}
.login .p9{font-size:10px;margin: 0 0 16px 20px;color:#666;}


.num_bar{text-align:right;}

/*need*/
.mainGray{color:#808080;}
.mainRed{color:#000;}


/*mail*/
.addEmail{background: none repeat scroll 0 0 #fff;height: 100%;position: absolute;top: 0;width: 100%;}
.addEmail .text{width:401px;height:29px;}
/*mail end*/

/*wine*/
.red1{background:#9a5753}
.red2{background:#bc524d}
.red3{background:#d57470}

.white1{background:#abbd7a}
.white2{background:#bdcc96}
.white3{background:#bdcc96}

.bubble1{background:#dfcb71}
.bubble2{background:#78acc4}

.gray{background:#999}
/*wine end*/