/* 规范
#88124c Petite
#c11b1c Cabernet
#8b718a Zinfandel
#f7953e Fusion
#6a8a22 Chardonnay
#4b6a8f Riesling
#8c8c8c How2buy
#000000 About
#ffffff 大局文字
#f9bc0b 按钮文字
*/

@charset "utf-8";
/* CSS Document */

@font-face { 
  font-family: 'Helvetica Roman';
  src: url('./font/helvetica/HelveticaNeueLTPro-Roman.ttf') format('truetype');
}
@font-face { 
  font-family: 'Helvetica Thin';
  src: url('./font/helvetica/HelveticaNeueLTPro-Th.ttf') format('truetype');
}
@font-face { 
  font-family: 'Helvetica Bold';
  src: url('./font/helvetica/HelveticaNeueLTPro-Bd.ttf') format('truetype');
}
@font-face { 
  font-family: 'Helvetica Light';
  src: url('./font/helvetica/HelveticaNeueLTPro-Lt.ttf') format('truetype');
}
@font-face{  
    font-family : "PT Sans";
    src: url("./font/PT_Sans/PT_Sans-Web-Regular.ttf");
}
@font-face{  
    font-family : "Source Sans Pro";
    src: url("./font/SourceSansPro-ExtraLight.ttf");
}
body{-webkit-text-size-adjust:none;background:#262626;color:#000;font-family:'Helvetica Roman',SimHei, sans-serif;font-size: 62.5%; line-height: 18px; margin: 0; padding: 0;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd{border:0 none;margin:0;padding:0;font-weight: normal;}
ul, li, menu, ol, dd, dl, dt { list-style: none outside none; margin: 0; padding: 0; }
img, a { border: medium none; color: #333; text-decoration: none; }
em,i { font-style: normal; }
table td {border-collapse: collapse;padding:0;margin:0}
a:hover { color: #800000; }
input[type=submit], input[type=button], button {cursor:pointer}
.clearn, .clear { clear: both; height: 0; }
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.hide,.isHide{ display: none; }
.text { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.sbSeo{position: absolute;top: -5000px;}


#Container{width:100%;overflow-x:hidden;background:#F7F7F7}
#Wrapper{width:200%;position:relative;overflow:hidden;left:-100%;}
#PageLeft,#PageMain{width:50%;float:left;position:relative}

#header{background: url("../images/top_bg/top_1.jpg") no-repeat 50% 50%;background-size: cover;height: 1000px;background-position: center center;}
#HdBox{width: 90%px;margin: 0 auto;padding: 60px 30px;}
#LogoBox{max-width:980px; margin: 0 auto 50px}
#Logo{display: block;}
	#Logo img{width: 40%;max-width: 425px}
.hdInfo{color: #fff;font-size: 3.6em;line-height: 1.5em;text-align: center;font-family: 'Helvetica Light';}
	#HdBtns{overflow: hidden;}
	#HdBtns ul{text-align: center;max-width:700px;margin: 40px auto;display: block;line-height: 1.28571em;}
	#HdBtns ul li{display: inline;margin: 0;}
	.hdBtn{width: 185px;padding:15px 0;font-size: 1.8em;margin:0 15px 15px;border: 1px solid #fff;display: inline-block;color: #fff;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
	.hdBtn:hover{background: #fff;color: #000}
	
.moreBtn{color: #fff;text-align: center;padding-top: 80px}
.moreBtn a.mBtn{display: inline-block;color: #fff}
.moreBtn a.mBtn em{font-family: 'Helvetica Thin';}
.moreBtn a.mBtn span{color: #fff;text-decoration: underline;padding: 0 5px;font-size: 1.8em;}

/*左部菜单*/
#PageLeft{min-height:200px;height:100%;background:#262626;color:#fff;overflow-y:auto}
    #UserMange{padding-left:33%;}
    #UserMange .logo{display: block;text-align: center;padding: 18px 0;border-bottom:1px solid #383838;width: 100%;}
    #UserMange .logo img{width: 80%;margin:0 auto;display: block;}
    .leftMenu li{border-bottom:1px solid #383838;text-align: center;padding: 10px 0}
    .leftMenu li a{display: block;font-size: 1.8em;color: #999;}
	.muBtns{font-family: "Helvetica";font-size: 1.5em}
/*头部菜单*/
.topMenuBox{height:44px;line-height: 44px;width:100%;overflow:hidden;border-bottom:1px solid transparent;z-index:50;position:relative;top: 0;left: 0;background: #000;color: #fff;display: none;}
.topMenuBox.isFixed{position:fixed;display: block;}
.menuBtn{display: none;float: left;padding: 0 5px;width: 34px;height: 100%;background:url("../images/menuBtn.png") no-repeat 50% 50%;text-indent:-99999px;background-size:16px auto}
.topMenu{overflow: hidden;max-width: 980px;margin: 0 auto}
	.topMenu li{float: left;display: block;margin-right: 30px}
	.topMenu li.menuLi:last-child{margin-right: 0}
	.topMenu li a{color: #999}
.muBtns{display: block;}
.topMenu li.goTopBtn{float: right;margin-right: 0}
.topMenu li a#GoTop{text-indent: -99999px;background: url("../images/top.png") no-repeat 50% 50%;width: 40px;height: 45px;display: block;}
/*主体*/
.pageBox{min-height: 500px;/*padding-top:45px;*/position: relative;color: #fff}
.pageBlock{line-height: 18px;padding: 48px 0;}
.blockInner{max-width: 980px;margin: 0 auto;min-height: 300px}
	.blockTitle{font-size: 4.6em;line-height: 38px;}
	.blockTitle .title{float: left;margin-right: 15px;}
	.wineYear{font-size: 4em;padding: 5px 0 10px;line-height: 38px;font-family: "Helvetica Thin";}
	.wineImg{width: 100%;display: block;margin-bottom: 10px;}
	.contBlock{overflow: hidden;padding-bottom: 20px;}
	.contBlock p{font-size: 1.8em;line-height: 1.4em;padding-bottom: 10px}
	.wineTitle{font-size: 1.8em;line-height: 1.5em; font-family: "Helvetica Bold";padding: 0 0 20px;}
	.wineTitle span{padding-bottom: 2px;border-bottom: 1px solid #fff}
	.row{padding-bottom: 15px;}
	.row_01{font-size: 1.4em}
	.row_02{font-size: 1.8em}
	.unitPrice{float: left;line-height: 20px;position: relative;top: 5px}
	.unitPrice em{font-size: 1.8em}
	.unitPrice .price{font-size: 2.8em}
	.buyBtn{float: right;display: block;text-align: center;width: 238px;height: 38px;line-height: 38px;border: 1px solid #fff;color: #fff;border-radius:3px;font-size: 1.8em}
	.buyBtn:hover{color: #fff}
	.shareBtnBox{position: relative;height: 100%;display: inline-block;float: left;}
	.shareBtn{text-indent: -99999px;background: url("../images/share_btn.png") no-repeat 50% 50%;background-size: 20px 23px;width: 50px;height: 38px;cursor: pointer;display: inline-block;}
.jiathis_style{background: url("../images/share_bg.png") no-repeat;width: 256px;height: 117px;position: absolute;
top: 100%;left:-210px;z-index: 5;display: none;}
.shareBox{padding: 35px 0 0 30px;color: #999;font-size:18px;line-height: 50px;overflow: hidden;}
.shTxt{float: left;}
.jia_btn{display: block;float: left;width: 50px;height: 50px;margin: 0 5px;cursor: pointer;}
.jiathis_style .shareBox .jiathis_txt{display: none;position: relative;left: -9999999px}
.jia_btn.sina{background: url("../images/share_weibo.png") no-repeat;}
.jia_btn.weixin{background: url("../images/share_wechat.png") no-repeat;}

/*how to buy*/
.buyBlock{overflow: hidden;padding-top: 40px;}
	.buyImg{float: left;max-width: 64px}
	.buyInfo{margin-left: 90px;}
	.buyTitle{font-size: 2.8em;font-family: 'Helvetica Light';padding-bottom: 8px;display: block;}
	.buyOv{}
	.ovRow,.payment{font-size: 1.8em;line-height: 1.4em;}
	.payment{font-family: 'Helvetica Bold';}
	.buyLink{color:#ffc000;font-size: 1.8em;display: block;padding-top: 10px;font-family: "Helvetica Thin";}
	.buyLink:hover{color:#ffc000}
	.call,.call:hover{color: #fff}
	.fmMap{position: relative;left: 90px;width:  calc(100% - 90px);max-width:800px}
	.fmMap.fmMap_mobile{display: none;}

/*about*/
.about {padding:0 0 25px;}
.about .contBlock{line-height: 1em;padding:25px 0 35px;/*font-size: 1.2em*/}
.fmQr{width: 165px;text-align: center;font-size: 1.6em}
.fmQr img{display: block;margin:0 auto 10px;width: 100%;}

/*遮罩*/
#Mask,#MkBg{position:absolute;width:100%;height:100%;z-index:1000;top: 0;left:0;display:none}
#MkTop{position: relative;z-index: 1}
#MkTop .topMenuBox.isFixed{position: relative;}
#MkTop .topMenuBox.isHide{display: block;}
#MkBg{display:block;z-index: 2}

footer{background: #1A1A1A;text-align: center;font-size: 1.2em;line-height: 47px;color: #a6a6a6}

@media (min-width:1px) and (max-width:980px) {
	.topMenu,.blockInner{width: 98%;}
}

@media (min-width:1px) and (max-width:768px) {
	.pageBlock{padding: 28px 0;}
	.topMenu,.blockInner{width: 100%;}
	/*.topMenuBox{border-bottom-color: #BFBFBF}*/
	.topMenuBox,.topMenu .menuLi{display: none;}
	.topMenu {width: 50px;float: right;}
	.topMenuBox.isFixed{display: block;}
	.topMenuBox.isFixed.isHide{display: none;}
	.menuBtn{display: block;}
	.biBox{padding: 0 10px}
	.hdInfo{font-size: 3em;line-height: 1em}
	.hdBtn{padding:8px 0;margin:0 5px 5px;}
	.moreBtn a.mBtn span{font-size: 1.6em;}
	.shareBtn{display: none;}
	.buyBtn{width: calc(100% - 2px);margin-top:30px;}
	.fmMap{width:100%;left: 0}
	.fmMap.fmMap_pc{display: none;}
	.fmMap.fmMap_mobile{display: block;}
	footer{line-height: 30px;}
}
@media screen and (max-width:568px) {
	#header{height: 600px}
	#LogoBox{margin-bottom: 25px}
	#Logo {text-align: center;}
	#Logo img{width: 90%;margin: 0 auto}
	#HdBox{padding: 30px}
	.hdInfo{font-size: 2.2em;line-height: 1em}
	.moreBtn{padding-top: 40px;}
	.blockTitle{font-size: 4em;line-height: 1em}
	.buyHeader{font-size: 3em}
	.wineYear{font-size: 2.4em;line-height: 20px}
	/*.wineTitle{font-size: 1.8em}*/
	.unitPrice .price{font-size: 2.4em}
	/*.about .contBlock p{font-size: 1.3em;line-height: 1.3em}*/
}
@media screen and (max-width:480px) {
	.hdBtn{margin:0 5px 5px;}
	.moreBtn{padding-top: 0}
	.moreBtn a.mBtn span{font-size: 1.4em;}
	.blockTitle{font-size: 3em}
	.buyTitle{font-size: 2.4em;line-height: 1em}
	/*.ovRow, .payment{font-size: 1.4em;line-height: 1.4em}*/
	#HdBtns ul{margin: 20px}
	.fmQr{width: 100%;text-align: center;}
	.fmQr img{width: 80%;}
}
@media screen and (max-width:445px) {
}
@media screen and (max-width:405px) {
}
@media screen and (max-width:414px) {
}
@media screen and (max-width:320px) {
	.buyImg{width: 50px}
	.buyInfo{margin-left: 60px}
	.lang em{display: none;}
}